body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wp-block-image img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

.MuiBox-root > * {
  margin-block-start: 1.8rem;
  margin-block-end: 0;
}

.is-layout-flow > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
  display: table;
}

.wp-block-image.aligncenter {
  text-align: center;
}

.wp-block-columns {
  align-items: normal !important;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap !important;
}

@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap !important;
  }
}

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}

@media (min-width: 782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.wp-block-column.is-vertically-aligned-bottom {
  align-self: flex-end;
}

.wp-block-pullquote {
  border-width: 1px 0;
  border-style: solid;
  font-size: clamp(0.984em, 0.984rem + ((1vw - 0.2em) * 0.938), 1.2em);
  line-height: 1.3;
  margin-top: 70px !important;
  margin-bottom: 70px !important;
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: 2em 0;
  text-align: center;
}

